/*
FILE: style.css
AUTHOR: Edward G. McKeown
DATE: 2024/09/27
VERSION: 1.0.1
DESCRIPTION:
    Style Sheet for Patriot Thanks.
*/

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
body {
    background-image: url("../images/american_flag40.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:100% 100%;
    z-index: 1;
    
}

#page_layout {
    width: 90%;
    font-weight:bold;
    margin: 0 auto 2.5% auto;
    border: 2px solid #000000;
    padding: 0;
}

header {
    background-image: url("../images/flag_banner_2.jpg");
    background-position: center;
    background-size: contain;
    width: 100%;
    margin: 0 0;
    border: 1px solid #000000;
    padding: 0 0;
}

.left-banner {
    width: 20%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}

.left-banner > a > img {
    width: 100%;
    height: auto;
}

.right-banner {
    width: 60%;
    height: auto;
    margin: 0 0 0 5%;
    padding: 0;
    float: left;
}

.right-banner > h1 {
    font-size: 3vw;
    margin: 6% 0 0 0;
    padding: 0;
    font-weight: bold;
    color: gold;
}

.right-banner > h4 {
    font-size: 2vw;
    margin: 1.2% 0 0 0;
    padding: 0;
    font-weight: bold;
    color: gold;
}

/* Thick red border */
.horizontal-line {
    border: 2px solid deepskyblue;
}

h2 {
    font-family: "Caveat", cursive;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: #8b0000;
}

h3 {
    font-family: "Caveat", cursive;
    font-weight: 900;
    color: #00008b;
    text-align: center;
}

h5 {
    display: none;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
  }
  
.caveat {
      font-family: "Caveat", cursive;
      font-style: normal;
      font-size: 25px;
      text-align: left;
}

#menu a:hover {
    font-style: italic;
}

main {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.container {
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 50%);
    padding: 20px;
    text-align: center;
}

.float_left {
    display: block;
    float: left;
    width: 27%;
    height: auto;
}

.float_right {
    float: right;
    width: 25%;
    height: auto;
}

.float_left_book {
    float: left;
    width: 25%;
    height: auto;
    padding: 3%;
}

#left_img {
    float: left;
    width: 45%;
    padding: 5% 2%;
}

#right_img {
    float: left;
    width: 45%;
    padding: 10% 2%;
}

.left_pane {
    float: left;
    width: 50%;
    padding: 0 2%;
}

.right_pane {
    float: left;
    width: 50%;
    padding: 0 2%;
}

.right_pane img {
    width: 100%;
    height: auto;
}

.military-support-graphic {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    display: block;
}

#home_free {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#bus-search {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#bus-add {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.right {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 14px;
    text-indent: 2%;
}

.paragraph_style {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    text-indent: 2%;
    justify-content: center;
}

.military {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#left_pane .military {
    margin-top: 50px;
}

#right_pane .military {
    margin-top: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

footer {
    clear: both;
    padding: unset;
    text-align: center;
    background-image: url("../images/flag_banner_2.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    border-top: 2px solid #000000;
}

.footer_style {
    padding: unset;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    color:#ffd700;
}

/* Footer link styles are set below */
a:link {
    color: #b8860b;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:visited {
    color: #000000;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:hover {
    color: #8b0000;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a:active {
    color: #9932cc;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Media Queries are set below */
@media screen and (max-width: 1450px) {
    header {
        background-image: url("../images/flag_banner_2.jpg");
        background-position: center;
        background-size: contain;
        width: 100%;
        margin: 0 0;
        border: 1px solid #000000;
        padding: 0 0;
    }

    .right-banner {
        width: 60%;
        height: 150px;
        margin: 0 0 0 5%;
        padding: 0;
        float: left;
    }

    .right-banner > h1 {
        margin: 6% 0 0 0;
        padding: 0;
        font-weight: bold;
        color: gold;
        line-height: 1;
    }

    .right-banner > h4 {
        margin: 1.2% 0 0 0;
        padding: 0;
        font-weight: bold;
        color: gold;
        line-height: 1;
    }
}




@media screen and (max-width: 767px) {
    /* For mobile screens */
    .navbar .dropleft .dropdown-menu {
        left: auto !important;
        right: 0 !important;
        transform: none !important;
    }

    .left-banner {
        width: 20%;
        height: auto;
        margin: 0;
        padding: 0;
        float: left;
    }

    .left-banner > a > img {
        width: 100%;
        height: auto;
    }

    .right-banner {
        width: 60%;
        height: 150px;
        margin: 0 0 0 5%;
        padding: 0;
        float: left;
    }

    .right-banner > h1 {
        margin: 6% 0 0 0;
        padding: 0;
        font-weight: bold;
        color: gold;
        line-height: 0.75;
    }

    .right-banner > h4 {
        margin: 1.2% 0 0 0;
        padding: 0;
        font-weight: bold;
        color: gold;
        line-height: 0.75;
    }

    .right_pane {
        float: none;
        display: block;
        text-align: left;
        width: 90%;
        margin: 0;
        padding: 14px;
    }
    .left_pane {
        float: none;
        display: block;
        text-align: left;
        width: 90%;
        margin: 0;
        padding: 14px;
    }
    .right_pane img {
        width: 90%;
        height: auto;
    }
    
    #left_img {
        float: left;
        width: 45%;
        padding: 15% 2%;
    }
    
    #right_img {
        float: left;
        width: 45%;
        padding: 20% 2%;
    }
    
    .right {
        display: block;
        width: 75%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 472px) {
    .left-banner {
        width: 20%;
        height: auto;
        margin: 0;
        padding: 0;
        float: left;
    }

    .left-banner > a > img {
        width: 100%;
        height: auto;
    }

    .right-banner {
        width: 60%;
        height: 100px;
        margin: 0 0 0 5%;
        padding: 0;
        float: left;
    }

    .right-banner > h1 {
        margin: 6% 0 0 0;
        padding: 0;
        font-weight: bold;
        color: gold;
    }

    .right-banner > h4 {
        margin: 1.2% 0 0 0;
        padding: 0;
        font-weight: bold;
        color: gold;
    }

    .right_pane {
        float: none;
        display: block;
        text-align: left;
        width: 90%;
        margin: 0;
        padding: 14px;
    }

    .left_pane {
        float: none;
        display: block;
        text-align: left;
        width: 90%;
        margin: 0;
        padding: 14px;
    }

    .right_pane img {
        width: 90%;
        height: auto;
    }

    #left_img {
        float: left;
        width: 45%;
        padding: 15% 2%;
    }

    #right_img {
        float: left;
        width: 45%;
        padding: 20% 2%;
    }

    .right {
        display: block;
        width: 75%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
